@import "tailwindcss";

@layer base {
  body {
    font-family: 'Open Sauce Sans', 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
  
  h1, h2, h3, .font-script, .font-alex {
    font-family: 'Alex Brush';
  }
}

@layer utilities {
  .font-alex {
    font-family: 'Alex Brush';
  }
  .font-open-sauce {
    font-family: 'Open Sauce Sans', 'Open Sans', system-ui, -apple-system, sans-serif;
  }
  .font-bhavuka {
    font-family: 'Alex Brush';
  }
  .font-comic {
    font-family: 'Open Sauce Sans', 'Open Sans', system-ui, -apple-system, sans-serif;
  }
}

